<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>PetConnect - Iniciar Sesión</title>
    <link rel="stylesheet" th:href="@{/CSS/bootstrap.min.css}">
    <link th:href="@{/CSS/styles.css}" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow">
                <div class="card-body p-5">
                    <h2 class="text-center mb-4">Iniciar Sesión</h2>

                    <div th:if="${param.exito}" class="alert alert-success">
                        ¡Registro exitoso! Ya puedes iniciar sesión.
                    </div>

                    <form th:action="@{/login}" method="post">
    
                        <div class="mb-3">
                            <label class="form-label">Correo Electrónico</label>
                            <input type="email" name="username" class="form-control" required placeholder="correo@ejemplo.com">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Contraseña</label>
                            <input type="password" name="password" class="form-control" required placeholder="********">
                        </div>

                        <div th:if="${param.error}" class="alert alert-danger mt-2">
                            Correo o contraseña incorrectos.
                        </div>

                        <button type="submit" class="btn w-100 mt-3 registrarse">Ingresar</button>
                    </form>

                    <hr class="my-4">
                    <p class="text-center mb-0">¿No tienes cuenta? <a th:href="@{/registro}" class="iniciar">Regístrate gratis</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>